<div>
    <img src="~/images/Logobanmor@3x.png" />
    EN / TH <button>เข้าสู่ระบบ</button>
</div>
<div>
    <ul>
        <li>รายการสั่งซื้อ</li>
        <li>ประวัติการสั่งซื้อ</li>
        <li>จัดการเมนู</li>
    </ul>
</div>
<div>
    <div>จัดการเมนู <button>+</button></div>
    <div>
        <img src="~/images/hot coffee.png" />
        Hot coffee
        50 บาท
        <button>แก้ไข</button>
    </div>
    <div>
        <img src="~/images/chocolate cake.png" />
        Chocolate cake
        60 บาท
        <button>แก้ไข</button>
    </div>
</div>